<div class="row">
    <h4 class="frame-title">{{msg('tujiokowe')}}&nbsp;-&nbsp;{{msg('tujiokowe.reports')}}</h4>
    <table class="table table-bundles table-bordered table-striped table-lightblue table-condensed">
        <thead>
        <tr>
            <th>{{msg('tujiokowe.reports')}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a id="dailyClinicVisitScheduleReport" href="#/tujiokowe/reports/dailyClinicVisitScheduleReport">{{msg('tujiokowe.reports.dailyClinicVisitScheduleReport')}}</a></td>
        </tr>
        <tr>
            <td><a id="ivrAndSmsStatisticReport" href="#/tujiokowe/reports/ivrAndSmsStatisticReport">{{msg('tujiokowe.reports.ivrAndSmsStatisticReport')}}</a></td>
        </tr>
        <tr>
            <td><a id="MandEMissedClinicVisitsReport" href="#/tujiokowe/reports/MandEMissedClinicVisitsReport">{{msg('tujiokowe.reports.MandEMissedClinicVisitsReport')}}</a></td>
        </tr>
        <tr>
            <td><a id="optsOutOfMotechMessagesReport" href="#/tujiokowe/reports/optsOutOfMotechMessagesReport">{{msg('tujiokowe.reports.optsOutOfMotechMessagesReport')}}</a></td>
        </tr>
        <tr>
            <td><a id="callDetailRecord" href="#/tujiokowe/callDetailRecord">{{msg('tujiokowe.reports.callDetailRecord')}}</a></td>
        </tr>
        <tr>
            <td><a id="SMSLog" href="#/tujiokowe/SMSLog">{{msg('tujiokowe.reports.SMSLog')}}</a></td>
        </tr>
        </tbody>
    </table>
</div>
